/* Write your CSS here */
.list_container_each {
  border: 1px solid #b5b7c4;
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .list_container_each {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 32px;
    min-width: 297px;
  }
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.appointment_heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}
.starbtn {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.stared_Icon {
  width: 20px;
  height: 20px;
  background: transparent;
  align-self: center;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .stared_Icon {
    width: 24px;
    height: 24px;
  }
}
.appointment_date {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 12px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .appointment_date {
    font-size: 16px;
  }
}
